# compiled output
web/compiled
web/bundles
web/dist

# dependencies
web/node_modules
web/typings
web/bower_components
/vendor

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
web/ts-node-*/
npm-debug.log
web/assetic_watch_*

# Symfony
/app/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

# for this project only
*.git
app/Resources/lib/glip/

#System Files
.DS_Store
Thumbs.db
