<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <base href="{{ base_dir }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            <link href="{{ asset('bundles/style.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}

        {% block icone %}
            <link rel="icon" type="image/x-icon" href="{{ asset('bundles/favicon.ico') }}" />
        {% endblock %}
        
        {% block javascriptTop %}
            <script type="text/javascript" src="{{ asset('bundles/dependency.js')}}" ></script>
            <script type="text/javascript">
                  System.import('app');
            </script>
        {% endblock %}

    </head>
    <body>
        <app-root></app-root>
        
        {% block body %}{% endblock %}
        {% block javascriptBottom %}{% endblock %}
    </body>
</html>
