<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="favicon.ico">

        <!--
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link href="{{ asset('dist/css/style.css') }}" rel="stylesheet" media="screen" />
            <script src="{{ asset('dist/js/main.js') }}"></script>
        -->
    </head>
    <body>
        <app-root></app-root>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
