<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="favicon.ico">

        <!--
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link href="{{ asset('dist/css/style.css') }}" rel="stylesheet" media="screen" />
            <script src="{{ asset('dist/js/main.js') }}"></script>
        -->


        <script src="phpGithub/dist/lib/core-js/client/shim.min.js"></script>

        <script src="phpGithub/dist/lib/zone.js/dist/zone.js"></script>
        <script src="phpGithub/dist/lib/reflect-metadata/Reflect.js"></script>
        <script src="phpGithub/dist/lib/systemjs/dist/system.src.js"></script>

        <script src="phpGithub/dist/systemjs.config.js"></script>
        <script>
            System.import('app')
                    .then(null, console.error.bind(console));
        </script>

    </head>
    <body>
        <app-root></app-root>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
